h1 {
  font-family: 'Domine', serif;
  font-size: 40px;
  margin: 80px 0 20px;
  color: #05296b;
  text-transform: uppercase;
  letter-spacing: 3px;
}

h2 {
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  font-size: 25px;
  margin: 0 0 80px 0;
}


.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}



.overlay {
  border-top: 16px solid #0e43ab;
  background: url('../assets/img/wrld-bg-3-ai.png') no-repeat center;
  height: 1000px;
  width: 100%;
  position: relative;
}

.pin {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #0e43ab;
  border: 6px solid #f5c24c;
  position: absolute;
  top: 15%;
  right: 30%;
  box-shadow: 0px 0px 7px black;
  transition: all .5s ease;

}

.pin:hover {
  transform: scale(1.4);
  transition: all .5s ease;
  cursor: pointer;

}

.detail-container {
  background-color: #0e43ab;
  padding: 30px;
  color: white;
  height: 100%;
  position: unset;
  transform: translateX(100%);
  transition: all .5s ease-in-out;
}

.detail-container.show {
  position: absolute;
  transform: none;
  transition: all .5s ease-in-out;
}

.detail-container .content {
  width: 80%;
  padding: 50px;
  display: flex;
  margin: 0 auto;
}

/* .detail-container .left {
  float: left;
  display: inline-block;
  width: 30%;
} */

.detail-container .right {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

.detail-container h3 {
  font-family: 'Domine', serif;
  font-size: 24px;
  display: inline-block;
}

.detail-container h4 {
  font-family: 'Karla', sans-serif;
  font-size: 20px;
  font-weight: 700;
  display: inline-block;
  letter-spacing: 2px;
  margin-bottom: 10px;
  margin-top: 0;
  text-transform: uppercase;

}


.detail-container p {
  color: white;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
  padding-bottom: 30px;
  border-bottom: 10px solid #05296b;
}

.detail-container img {
  width: 100%;
  max-width: 300px;
  height: 300px;
  object-fit: cover;
  object-fit: po;
  object-position: left;
  border-radius: 50%;
  border: 4px solid #05296b;
}

.detail-container button {
  position: absolute;
  top: 20px;
  right: 140px;
  background-color: #f5c24c;
  color: #fff;
  border: none;
  border-radius: 50%;
  font-family: 'Karla';
  font-size: 60px;
  font-weight: 400;
  width: 60px;
  height: 60px;
  line-height: 0;
  margin: 0;
  transition: all .5s ease;
  box-shadow: 0px 0px 7px black;

}

.detail-container button:after {
    content: 'x';
    top: background-size;
    background-size: 60px;
    top: 0;
    position: absolute;
    top: 25px;
    right: 14px;
}

.detail-container button:hover {
  transform: scale(0.8);  
  transition: all .5s ease;
}

.detail-container button:focus {
  outline: none;
}

.detail-container button:hover {
  cursor: pointer;
}